div.dataview{
    display: grid;
    grid-template-columns: repeat(4, max-content);
}
div.dataview div.th{
    font-weight: bold;
    background: #dfedf0;
}
 div.dataview div{
    padding: 0 20px;
}
form.manter label{
    display: block;
}