{% extends "layout.html" %}
{% block content %}
<div class="page">

  {% if produto %}
  <h3 class="mb-3 mt-3">Produto encontrado:</h3>
  <div>
    <div class="card-body">
      <p class="card-text">Nome: {{ produto[1] }} </p>
      <p class="card-text">Descrição: {{ produto[2] }} </p>
      <p class="card-text">Preço: {{ produto[3] }} </p>
      <p class="card-text">Quantidade: {{ produto[4] }} </p>
      <p class="card-text">ID: {{ produto[0] }} </p>
    </div>
  </div>

  {% else %}
  <h3 class="mb-3 mt-3 text-danger">Produto não encontrado!</h3>
  <h4 class="mt-3">Buscar Produto</h4>
  <div class="container mb-3 ">
    <form class="" action="/produto/findbyname/" method="POST">
      <label>
        <input class="form-control" type="text" placeholder="Nome do produto" name="nome" autocomplete="off"
          minlength="2" required="required" />
      </label>
      <input type="submit" value="Buscar" class="btn btn-sm btn-primary" />
    </form>
    {% endif %}
  </div>
  {% endblock %}