{% extends "layout.html" %}
{% block content %}
<div class="page">
  <h3>Manter cliente</h3>
  <div class="dataview">
    <div class="th">ID</div>
    <div class="th">Nome</div>
    <div class="th">cpf</div>
    <div class="th">data</div>
    <div class="th">actions</div>
    {% for cli in clientes %}
    <div> {{ cli[0] }} </div>
    <div> {{ cli[1] }} </div>
    <div> {{ cli[2] }} </div>
    <div> {{ cli[4] }} </div>
    <div>
      <a href="/delete/{{cli[0]}}">[X]</a> |
      <a href="/cliente/edit/{{cli[0]}}">[E]</a>
    </div>
    {% endfor %}
  </div>

  <h4 class="mt-3">Buscar Cliente</h4>
  <div class="container mb-3 ">
    <form class="" action="/cliente/findbyname/" method="POST">
      <label>
        <input class="form-control" type="text" placeholder="Nome do cliente" name="nome" autocomplete="off"
          minlength="2" required="required" />
      </label>
      <input type="submit" value="Buscar" class="btn btn-sm btn-primary" />
    </form>
  </div>
  {% endblock %}